<section class="slideshow">
    <div class="container">
        <h2 class="visually-hidden">poster</h2>
        <ul class="slideshow__list">
            <li class="slideshow__list-item">
                <div class="slideshow__wrapper">
                    <div class="slideshow__number-strips">
                        <div class="slideshow__number">01</div>
                        <div class="slideshow__strips">
                            <button class="slideshow__strips-button"></button>
                            <button class="slideshow__strips-button"></button>
                            <button class="slideshow__strips-button"></button>
                            <button class="slideshow__strips-button"></button>
                        </div>
                    </div>
                    <div class="slideshow__content-wrapper">
                        <h3 class="slideshow__slide-title">the ooh noo collection</h3>
                        <p class="slideshow__slide-text">Designed in Slovenia</p>
                        <a class="link button-open_js" href="#">explore now</a>
                    </div>
                    <picture class="slideshow__picture">
                        <source srcset="/static/images/myslides-01.png, /static/images/myslides-01_retina.png 2x" media="(min-width: 1024px)">
                        <source srcset="/static/images/myslides-01_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                        <source srcset="/static/images/myslides-01_mobile.png" media="(max-width: 767px)">
                        <img class="slideshow__image" src="/static/images/myslides-01.png" alt="игрушка черный монстр">
                    </picture>
                    <div class="slideshow__bottom-info">
                        <p class="slideshow__bottom-text"> free (continental) USA shipping on all orders of $100 USD or
                            more!
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>