<section class="slideshow-container">
    <div class="container">
        <ul class="slide-list">
            <li class="slideshow-item">
                <img class="slide-image" src="/static/images/myslides-01.png" alt="the ooh noo collectiom">
                <div class="slide-wrapper">
                    <div class="slide__number-strips">
                        <div class="slide-number">01</div>
                        <div class="slide-strips">
                            <button class="strip strip-active"></button>
                            <button class="strip"></button>
                            <button class="strip"></button>
                            <button class="strip"></button>
                        </div>
                    </div>
                    <div class="slider__title-text-link">
                        <h2 class="slide-title">the ooh noo collection</h2>
                        <p class="slide-text">Designed in Slovenia</p>
                        <a class="link button-open_js" href="#">explore now</a>
                    </div>
                    <div class="slide-bottom-info">
                        <p class="slide-bottom-text"> free (continental) USA shipping on all orders of $100 USD or more!
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>