<section class="slideshow">
    <div class="container">
        <h2 class="visually-hidden">poster</h2>
        <ul class="slideshow__list">
            <li class="slideshow__list-item">
                <img class="slideshow__image" src="/static/images/myslides-01.png" alt="the ooh noo collectiom">
                <div class="slideshow__wrapper">
                    <div class="slideshow__number-strips">
                        <div class="slideshow__number">01</div>
                        <div class="slideshow__strips">
                            <button class="slideshow__strips-list"></button>
                            <button class="slideshow__strips-list"></button>
                            <button class="slideshow__strips-list"></button>
                            <button class="slideshow__strips-list"></button>
                        </div>
                    </div>
                    <div class="slideshow__content-wrapper">
                        <h3 class="slideshow__slide-title">the ooh noo collection</h3>
                        <p class="slideshow__slide-text">Designed in Slovenia</p>
                        <a class="link button-open_js" href="#">explore now</a>
                    </div>
                    <div class="slideshow__bottom-info">
                        <p class="slideshow__bottom-text"> free (continental) USA shipping on all orders of $100 USD or
                            more!
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>