@import "../vars";
@import "../colors";

.slideshow {
  padding-top: 88px;
  margin-bottom: 91px;

  &__list {
    position: relative;

    list-style: none;

    padding: 0;

    margin: 0;

    width: 100%;
  }

  &__image {
    position: absolute;
    left: 445px;
    top: -89px;

    z-index: 2;
  }

  &__wrapper {
    position: relative;

    max-width: 1180px;

    background-color: $c_gold--light-extra;
  }

  &__number-strips {
    position: absolute;
    left: 28px;
    top: 17px;
  }

  &__number {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    color: $c_black--light;
    opacity: 0.05;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__strips-list {
    display: block;

    border: none;

    margin: 0 0 11px 3px;

    width: 31px;
    height: 3px;

    background-color: $c_gold--light-extra-2;

    outline: none;

    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      background-color: $c_brown;

      transition: $tr_duration $tr_easing;
    }
  }

  &__content-wrapper {
    padding-left: 133px;
    padding-top: 92px;
  }

  &__slide-title {
    text-transform: uppercase;

    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    line-height: 44px;

    margin-bottom: 18px;
    margin-top: 0;

    width: 400px;
  }

  &__slide-text {
    font-family: "Crimson Text", serif;
    font-size: 20px;
    line-height: 25px;

    margin-bottom: 29px;
    margin-top: 0;
  }

  &__bottom-info {
    margin-top: 99px;
  }

  &__bottom-text {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: $c_white;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;

    background-color: $c_gold;

    padding: 11px 364px;

    margin: 0;

    text-align: center;
  }
}
