@import "../vars";
@import "../colors";
@import "../mixins";

.slideshow {
  padding-top: 88px;
  margin-bottom: 91px;

  @include media_interval($media_mobile, $media_tablet) {
    margin: 0 0 60px 0;

    padding-top: 0;
  }

  @include media_interval(0, $media_mobile) {
    margin: 0 0 80px 0;

    padding-top: 0;
  }

  &__list {
    list-style: none;

    padding: 0;

    @include media_interval(0, $media_mobile) {
      margin: 0 -20px 0 -20px;
    }
  }

  &__image {
    position: absolute;
    right: 99px;
    bottom: 38px;

    @include media_interval($media_mobile, $media_laptop) {
      right: 8px;
    }

    @include media_interval(0, $media_mobile) {
      right: 0;
      bottom: 54px;
    }
  }

  &__wrapper {
    position: relative;

    width: 100%;

    background-color: $c_gold--light-extra;
  }

  &__number-strips {
    position: absolute;
    left: 28px;
    top: 17px;

    @include media_interval($media_mobile, $media_tablet) {
      left: 0;
      top: 17px;
    }

    @include media_interval(0, $media_mobile) {
      left: auto;
      right: 20px;
      top: 21px;
    }
  }

  &__number {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    color: $c_black--light;
    opacity: 0.05;
    font-weight: 400;
    margin-bottom: 15px;

    @include media_interval($media_mobile, $media_tablet) {
      font-size: 48px;
      margin-bottom: 7px;
    }

    @include media_interval(0, $media_mobile) {
      font-size: 48px;
      margin-bottom: 11px;
    }
  }

  &__strips-button {
    display: block;

    border: none;

    margin: 0 0 11px 3px;

    width: 31px;
    height: 3px;

    background-color: $c_gold--light-extra-2;

    outline: none;

    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      background-color: $c_brown;

      transition: $tr_duration $tr_easing;
    }
    @include media_interval($media_mobile, $media_tablet) {
      width: 27px;
      height: 2.67px;

      margin: 0 0 9.78px 0;
    }

    @include media_interval(0, $media_mobile) {
      width: 27px;
      height: 2.67px;

      margin: 0 0 9.78px 22px;
    }
  }

  &__content-wrapper {
    padding: 92px 0 0 133px;

    @include media_interval($media_tablet, $media_laptop) {
      padding-left: 90px;
    }

    @include media_interval($media_mobile, $media_tablet) {
      padding: 79px 0 0 60px;
    }

    @include media_interval($media_mobile-extra-small, $media_mobile) {
      padding: 84px 0 0 20px;
      margin-bottom: 197px;
    }

    @include media_interval(0, $media_mobile-extra-small) {
      padding: 42px 0 0 20px;
      margin-bottom: 238px;
    }
  }

  &__slide-title {
    text-transform: uppercase;

    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    line-height: 44px;

    max-width: 307px;

    margin-bottom: 18px;

    @include media_interval($media_mobile-extra-small, $media_mobile) {
      font-size: 36px;
      line-height: 39px;

      margin-bottom: 16px;
    }

    @include media_interval(0, $media_mobile-extra-small) {
      font-size: 36px;
      line-height: 39px;

      margin-bottom: 16px;
      margin-top: 38px;

      max-width: 275px;
    }
  }

  &__slide-text {
    font-family: "Crimson Text", serif;
    font-size: 20px;
    line-height: 25px;

    margin-bottom: 29px;
    margin-top: 0;

    margin: 0 0 29px 0;

    @include media_interval(0, $media_mobile) {
      font-size: 18px;
      line-height: 22px;

      margin-bottom: 23px;
    }
  }

  &__bottom-info {
    margin-top: 99px;

    @include media_interval($media_tablet, $media_laptop) {
      margin-top: 110px;
    }

    @include media_interval($media_mobile, $media_tablet) {
      margin-top: 112px;
    }
  }

  &__bottom-text {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: $c_white;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;

    background-color: $c_gold;

    padding: 11px 0;

    margin: 0;

    text-align: center;

    @include media_interval(0, $media_mobile) {
      padding: 11px 12px;
    }
  }
}
