@@include('breadcrumbs-toys/index.html', {
"title": "toy for kids",
"page": "Toys"
})


<section class="parameters">
    <h2 class="visually-hidden">parameters</h2>
    <form class="parameters__form container" action="/pages/toys/index.html">
        <fieldset class="fieldset-cost parameters__fieldset">
            <legend class="parameters__name">Cost</legend>
            <input class="fieldset-cost__range-input" type="range" name="cost" min="0" max="500" value="10">
            <div class="fieldset-cost__scale">
                <span class="fieldset-cost__scale-left">0</span>
                <span class="fieldset-cost__scale-right">500</span>
            </div>
        </fieldset>
        <fieldset class="fieldset-color parameters__fieldset">
            <legend class="parameters__name">Color</legend>
            <ul class="fieldset-color__list">
                <li class="fieldset-color__list-item">
                    <label class="parameters__label">
                        <input class="fieldset-color__checkbox" name="colors" type="checkbox" value="black">
                        <span class="fieldset-color__fake"></span>
                        <span class="fieldset-color__label">Black</span>
                    </label>
                </li>
                <li class="fieldset-color__list-item">
                    <label class="parameters__label">
                        <input class="fieldset-color__checkbox" name="colors" type="checkbox" value="blue">
                        <span class="fieldset-color__fake"></span>
                        <span class="fieldset-color__label">Blue</span>
                    </label>
                </li>
                <li class="fieldset-color__list-item">
                    <label class="parameters__label">
                        <input class="fieldset-color__checkbox" name="colors" type="checkbox" value="green">
                        <span class="fieldset-color__fake"></span>
                        <span class="fieldset-color__label"> Green</span>
                    </label>
                </li>
                <li class="fieldset-color__list-item">
                    <label class="parameters__label">
                        <input class="fieldset-color__checkbox" name="colors" type="checkbox" value="white">
                        <span class="fieldset-color__fake"></span>
                        <span class="fieldset-color__label">White</span>
                    </label>
                </li>
            </ul>
        </fieldset>
        <fieldset class="fieldset-delivery parameters__fieldset">
            <legend class="parameters__name">Delivery</legend>
            <ul class="fieldset-delivery__list">
                <li class="fieldset-delivery__item">
                    <label class="parameters__label">
                        <input class="fieldset-delivery__radio" name="delivery" type="radio" value="free_shipping">
                        <span class="fieldset-delivery__fake"></span>
                        <span class="fieldset-delivery__label">Free shipping</span>
                    </label>
                </li>
                <li class="fieldset-delivery__item">
                    <label class="parameters__label">
                        <input class="fieldset-delivery__radio" name="delivery" type="radio" value="fast_shipping">
                        <span class="fieldset-delivery__fake"></span>
                        <span class="fieldset-delivery__label">Fast shipping</span>
                    </label>
                </li>
            </ul>
        </fieldset>
        <fieldset class="fieldset-amount parameters__fieldset">
            <legend class="parameters__name">Amount</legend>
            <ul class="fieldset-amount__list">
                <li class="fieldset-amount__item">
                    <input id="radio__0-5" name="amount" type="radio" value="0-5">
                    <label for="radio__0-5" class="parameters__label">
                        <span class="fieldset-amount__label">0-5</span>
                    </label>
                </li>
                <li class="fieldset-amount__item">
                    <input id="radio__10-20" name="amount" type="radio" value="10-20">
                    <label for="radio__10-20" class="parameters__label">
                        <span class="fieldset-amount__label">10-20</span>
                    </label>
                </li>
                <li class="fieldset-amount__item">
                    <input id="radio__20-50" name="amount" type="radio" value="20-50">
                    <label for="radio__20-50" class="parameters__label">
                        <span class="fieldset-amount__label">20-50</span>
                    </label>
                </li>
            </ul>
        </fieldset>
        <button class="parameters__button button" type="submit">apply</button>
    </form>
</section>