.parameters {
  min-width: 1400px;

  background-color: rgba(125, 151, 218, 0.2);

  margin-bottom: 60px;
}

/* form */

.parameters-form {
  display: flex;
  flex-wrap: wrap;

  padding: 43px 85px 42px 0;

  align-items: start;
}

.fieldset-parameters {
  border: none;

  margin: 0;

  padding: 0;
}

.parameters-cost {
  width: 206px;
  margin-right: 95px;
}

.parameters-name {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.label-parameters {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.amount-item {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

/* range-cost */

.range-input {
  margin-top: 26px;
  margin-bottom: 17px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 193px;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 8.35px solid #c29974;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px;
}

input[type="range"]::-ms-thumb {
  border: 8.35px solid #c29974;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* tange-track  */

input[type="range"]::-webkit-slider-runnable-track {
  width: 188px;
  height: 4px;
  cursor: pointer;
  background: #72757c;
}

input[type="range"]::-ms-track {
  width: 193px;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 24px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #72757c;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #c29974;
}
input[type="range"]::-ms-fill-upper {
  background: #72757c;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #c29974;
}

.range-cost {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.range-cost .left {
  float: left;
}

.range-cost .right {
  float: right;
}

/* checkbox-color */

.parameters-color {
  margin-right: 124px;
}

.color-list {
  list-style-type: none;

  padding: 0;

  margin: 15px 0 0 0;
}

.color-item {
  margin-top: 14px;
}

.checkbox-color {
  display: none;
}

.color-fake {
  display: inline-block;

  width: 19px;
  height: 19px;

  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 3px;

  position: relative;

  margin-right: 7px;
}

.color-fake::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 51%;
  transform: translate(-50%, -50%);

  display: block;
  width: 100%;
  height: 100%;
  background: url(static/images/Vector_1.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;

  opacity: 0;
  transition: 0.2s;
}

.checkbox-color:checked + .color-fake::before {
  opacity: 1;
}

.label-parameters input:checked ~ .color-fake {
  background-color: #ffffff;
}

.color-label:hover {
  text-decoration: underline;
}

.color-label,
.color-fake {
  vertical-align: middle;

  cursor: pointer;
}

/* parameters-delivery */

.parameters-delivery {
  margin-right: 69px;
}

.delivery-list {
  list-style-type: none;

  padding: 0;

  margin: 15px 0 0 0;
}

.delivery-item {
  margin-bottom: 9px;
  cursor: pointer;
}

.radio-delivery {
  display: none;
}

.delivery-fake {
  display: inline-block;

  width: 20px;
  height: 20px;

  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 50%;

  position: relative;

  margin-right: 6px;
}

.delivery-fake::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 1.5px;

  display: block;
  width: 12px;
  height: 12px;

  border: 6px solid #c29974;
  box-sizing: border-box;
  border-radius: 50%;

  opacity: 0;
  transition: 0.2s;
}

.radio-delivery:checked + .delivery-fake::before {
  opacity: 1;
}

.delivery-label:hover {
  text-decoration: underline;
}

.delivery-label,
.delivery-fake {
  vertical-align: middle;

  cursor: pointer;
}

/* parameters-amount */
.parameters-amount {
  margin-right: 59px;
}

.amount-list {
  //   display: inline-block;

  overflow: hidden;

  position: relative;

  padding: 0;

  background-color: #ffffff;

  text-align: center;

  margin-top: 17px;
  margin-bottom: 0;
}
.amount-item {
  display: inline-block;

  float: left;
}

.amount-list input {
  display: none;
}

.amount-list label {
  width: 80px;

  display: inline-block;

  line-height: 34px;

  border-right: none;

  user-select: none;
}

.amount-list input:checked + label {
  background-color: #f3d0db;
}

.amount-list label:hover {
  color: #877379;
  background-color: #eddeeb;

  text-decoration: none;
}

.amount-label,
.amount-fake {
  vertical-align: middle;
}

/* parameters-button */
.parameters-button {
  margin-top: 35px;
}
