@import "../vars";
@import "../colors";

.parameters {
  min-width: 1400px;

  background-color: $c_blue--purple;

  margin-bottom: 60px;

  .parameters__form {
    display: flex;
    flex-wrap: wrap;

    padding-top: 43px;
    padding-bottom: 42px;

    align-items: start;
  }

  &__fieldset {
    border: none;

    padding: 0;
  }

  &__name {
    font-family: "Open Sans", sans-serif;
    color: $c_black;
    font-weight: bold;
    font-size: 16px;
  }

  &__label {
    font-family: "Open Sans", sans-serif;
    color: $c_black;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  .fieldset-cost {
    width: 206px;
    margin-right: 92px;

    &__range-input {
      margin-top: 26px;
      margin-bottom: 17px;
    }

    input[type="range"] {
      -webkit-appearance: none;
      width: 193px;
      background: transparent;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
      &:focus {
        outline: none;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 8.35px solid $c_gold;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background: $c_white;
        cursor: pointer;
        margin-top: -10px;
      }
      &::-ms-thumb {
        border: 8.35px solid $c_gold;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background: $c_white;
        cursor: pointer;
      }
      &::-webkit-slider-runnable-track {
        width: 188px;
        height: 4px;
        cursor: pointer;
        background: $c_gray--dark;
      }
      &::-ms-track {
        width: 195px;
        height: 4px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        border-width: 24px 0;
        color: transparent;
      }
      &::-ms-fill-lower {
        background: $c_gray--dark;
      }
      &:focus::-ms-fill-lower {
        background: $c_gold;
      }
      &::-ms-fill-upper {
        background: $c_gray--dark;
      }
      &:focus::-ms-fill-upper {
        background: $c_gold;
      }
    }

    &__scale {
      font-family: "Open Sans", sans-serif;
      color: $c_black;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
    }

    &__scale-left {
      float: left;
    }

    &__scale-right {
      float: right;
    }
  }

  .fieldset-color {
    margin-right: 121px;

    &__list {
      list-style-type: none;

      padding: 0;

      margin: 15px 0 0 0;
    }

    &__list-item {
      margin-top: 14px;
    }

    &__checkbox {
      display: none;
      &:checked + .fieldset-color__fake::before {
        opacity: 1;
      }
    }

    &__fake {
      display: inline-block;

      width: 19px;
      height: 19px;

      border: 2px solid $c_gold;
      box-sizing: border-box;
      border-radius: 3px;

      position: relative;

      margin-right: 6px;

      &::before {
        content: "";
        position: absolute;
        top: 40%;
        left: 51%;
        transform: translate(-50%, -50%);

        display: block;
        width: 100%;
        height: 100%;
        background: url(static/images/Vector_1.svg);
        background-repeat: no-repeat;
        background-size: 16px 14px;

        opacity: 0;
        transition: $tr_duration $tr_easing;
      }
    }

    .parameters__label input:checked ~ .fieldset-color__fake {
      background-color: $c_white;
    }

    &__label:hover {
      text-decoration: underline;
    }

    &__label,
    &__fake {
      vertical-align: middle;

      cursor: pointer;
    }
  }

  .fieldset-delivery {
    margin-right: 68px;

    &__list {
      list-style-type: none;

      padding: 0;

      margin: 15px 0 0 0;
    }

    &__item {
      margin-bottom: 9px;
      cursor: pointer;
    }

    &__radio {
      display: none;
      &:checked + .fieldset-delivery__fake::before {
        opacity: 1;
      }
    }

    &__fake {
      display: inline-block;

      width: 20px;
      height: 20px;

      border: 2px solid $c_gold;
      box-sizing: border-box;
      border-radius: 50%;

      position: relative;

      margin-right: 6px;

      &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 1.5px;

        display: block;
        width: 12px;
        height: 12px;

        border: 6px solid $c_gold;
        box-sizing: border-box;
        border-radius: 50%;

        opacity: 0;
        transition: $tr_duration $tr_easing;
      }
    }

    &__label:hover {
      text-decoration: underline;
    }

    &__label,
    &__fake {
      vertical-align: middle;

      cursor: pointer;
    }
  }

  .fieldset-amount {
    margin-right: 60px;

    &__list {
      overflow: hidden;

      position: relative;

      padding: 0;

      background-color: $c_white;

      text-align: center;

      margin-top: 17px;
      margin-bottom: 0;
    }

    &__item {
      display: inline-block;

      float: left;
    }

    &__list input {
      display: none;

      &:checked + label {
        background-color: $c_pink;

        transition: $tr_duration $tr_easing;
      }
    }

    &__list label {
      width: 80px;

      display: inline-block;

      line-height: 34px;

      border-right: none;

      user-select: none;

      &:hover {
        color: $c_brown;
        background-color: $c_pink--light;

        text-decoration: none;

        cursor: pointer;

        transition: $tr_duration $tr_easing;
      }
    }

    &__label,
    &__fake {
      vertical-align: middle;
    }
  }

  &__button {
    margin-top: 35px;
  }
}
