.article-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  margin-bottom: 18px;
}

.article-item {
  display: flex;
  flex-direction: column;
  width: 380px;

  margin-bottom: 16px;
  margin-right: 20px;
}

.article-item:nth-child(3n + 3) {
  margin-right: 0;
}

.article-img {
  margin-bottom: 20px;
}

.article-date {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #818181;

  mix-blend-mode: normal;

  margin-bottom: 10px;
}

.article-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;

  color: #1e0606;

  margin-bottom: 15px;
}

.article-title:hover,
.article-title:active {
  text-decoration: underline;
  cursor: pointer;
}

.article-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: #1e0606;

  margin: 0 0 20px 0;
}
