@@include('breadcrumbs-title/index.html', {
"title": "contact us",
"page": "Contact Us"
})


<section class="conact-us container">
    <form class="conact-us__form" action="/index.html">
        <label class="conact-us__form-lable">
            <input class="conact-us__form-input" type="text" name="name">
            <span class="conact-us__form-text">Name</span>
        </label>
        <div class="conact-us__form-feedback">
            <label class="conact-us__form-phone-input conact-us__form-lable">
                <input class="conact-us__form-input" type="tel" name="phone">
                <span class="conact-us__form-text">Phone</span>
            </label>
            <label class="conact-us__form-email-input conact-us__form-lable">
                <input class="conact-us__form-input" type="email" name="email">
                <span class="conact-us__form-text">Email</span>
            </label>
        </div>
        <label class="conact-us__form-lable">
            <textarea class="conact-us__form-message" name="message" cols="30" rows="10"></textarea>
            <span class="conact-us__form-text">Message</span>
        </label>
        <label class="conact-us__form-subscribe">
            <input class="conact-us__form-subscribe-checkbox" type="checkbox" name="subscribe" value="personal data">
            <span class="conact-us__form-subscribe-fake"></span>
            <span class="conact-us__form-subscribe-text">By clicking on the button, you consent to the processing of
                your personal data</span>
        </label>
        <button class="conact-us__form-button button" type="submit">submit</button>
    </form>
    <div class="contact-us__text-wrapper">
        <p class="contact-us__text-paragraph">Our support team are on-hand to assist with any issues you are
            experiencing.
        </p>
        <p class="contact-us__text-paragraph">Please use the form to contact us with your needs. Send us a message and
            we'll respond as soon as possible.</p>
        <p class="contact-us__text-paragraph-waiting">An expert is waiting to help you!</p>
    </div>
</section>