.design-contacts {
  margin-bottom: 55px;
}

.design-contacts-wrapper {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  position: relative;
}

/* design */

.design-wrapper {
  margin-right: 100px;

  padding-left: 30px;
}

.design-text {
  width: 470px;

  position: relative;

  z-index: 2;
}

.design-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 46px;

  color: #1e0606;

  margin: 0 0 12px 0;
}

.design-aboutus-title {
  font-family: "Crimson Text", serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;

  color: #1e0606;

  margin: 0 0 10px 0;
}

.design-paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;

  color: #1e0606;

  margin: 0 0 31px 0;
}

.design-bg {
  background-color: #e1f0f7;

  min-width: 543px;
  min-height: 236px;

  position: absolute;
  left: 0;
  top: 25px;

  z-index: 0;
}

.contacts-wrapper {
  position: relative;

  padding-left: 30px;
}

.contacts-text-map {
  position: relative;
  z-index: 1;
}

.contacts-bg {
  background-color: #e1f0f7;

  min-width: 543px;
  min-height: 209px;

  position: absolute;
  left: 0;
  top: 25px;

  z-index: 0;
}

.contacts-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 46px;

  margin: 0 0 20px 0;
}

.contacts-paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 23px;

  width: 470px;

  margin: 0 0 20px 0;
}
