<section class="design-contacts">
    <div class="container">
        <div class="design-contacts-wrapper">
            <div class="design-wrapper">
                <div class="design-text">
                    <h2 class="design-title">design life kids</h2>
                    <h3 class="design-aboutus-title">About Us</h3>
                    <p class="design-paragraph">
                        Some days i feel like i've been working on dlk my entire life and
                        there are other days that i am completely shocked that four years have
                        flown by. It's simply magical.
                    </p>
                    <a class="link" href="#">buy now</a>
                </div>
                <div class="design-bg"></div>
            </div>
            <div class="contacts-wrapper">
                <div class="contacts-text-map">
                    <h2 class="contacts-title">contacts</h2>
                    <p class="contacts-paragraph">
                        Some days i feel like i've been working on dlk my entire life and
                        there are other days that i am completely shocked that four years have
                        flown by. It's simply magical.
                    </p>
                    <img class="map" src="/static/images/map.jpg" alt="map">
                </div>
                <div class="contacts-bg"></div>
            </div>
        </div>
    </div>
</section>