<section class="design-contacts container">
    <div class="design-contacts__wrapper">
        <div class="design-block">
            <div class="design-block__text">
                <h2 class="design-block__title">design life kids</h2>
                <h3 class="design-block__aboutus-title">About Us</h3>
                <p class="design-block__paragraph">
                    Some days i feel like i've been working on dlk my entire life and
                    there are other days that i am completely shocked that four years have
                    flown by. It's simply magical.
                </p>
                <a class="link" href="#">buy now</a>
            </div>
            <div class="design-block__bg"></div>
        </div>
        <div class="contacts-block">
            <div class="contacts-block__wrapper">
                <h2 class="contacts-block__title">contacts</h2>
                <p class="contacts-block__paragraph">
                    Some days i feel like i've been working on dlk my entire life and
                    there are other days that i am completely shocked that four years have
                    flown by. It's simply magical.
                </p>
                <img class="contacts-block__map" src="/static/images/map.jpg" alt="map">
            </div>
            <div class="contacts-block__bg"></div>
        </div>
    </div>
</section>