<section class="products">
    <div class="container">
        <h2 class="visually-hidden">products</h2>
        <ul class="products__list">
            @@include("products/products-card.html",{
            "link": "#",
            "src": "1",
            "alt": "sharky bean.png",
            "name": "sharky bean bag chair cover",
            "price": "$60.00 USD"
            })
            @@include("products/products-card.html",{
            "link": "#",
            "src": "2",
            "alt": "brass_deco.png",
            "name": "brass deco frames",
            "price": "$66.00 USD"
            })
            @@include("products/products-card.html",{
            "link": "#",
            "src": "3",
            "alt": "cibo_full.png",
            "name": "cibo full apron",
            "price": "$60.00 USD"
            })
            @@include("products/products-card.html",{
            "link": "#",
            "src": "4",
            "alt": "gatcha_gatcha.png",
            "name": "gatcha gatcha gumball machine",
            "price": "$56.00 USD"
            })
            @@include("products/products-card.html",{
            "link": "#",
            "src": "5",
            "alt": "schristmas_advent.png",
            "name": "christmas advent scented candle",
            "price": "$29.00 USD"
            })
            @@include("products/products-card.html",{
            "link": "#",
            "src": "6",
            "alt": "tangle_spinning.png",
            "name": "tangle spinning tea light",
            "price": "$56.00 USD"
            })
        </ul>
    </div>
</section>