@import "../vars";
@import "../colors";

.products {
  margin-bottom: 30px;

  &__list {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;

    padding: 0;

    margin-top: 0;
  }
  &__list li:nth-child(3n + 3) {
    margin-right: 0;
  }

  &__list-item {
    width: 380px;
    text-align: center;

    display: flex;
    flex-direction: column;

    margin-right: 20px;
    margin-bottom: 20px;
  }

  &__card-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    display: flex;
    width: 207px;
    height: 207px;
  }

  &__item-link {
    position: relative;

    &:hover .products__card-hover {
      background-color: $c_blue--purple;

      opacity: 0.9;

      transition: $tr_duration $tr_easing;
    }
    &:active .products__card-hover {
      opacity: 0.67;

      transition: $tr_duration $tr_easing;
    }
  }

  &__img {
    margin-bottom: 27px;
  }

  &__hover-text {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 800;
    line-height: 29px;
    color: $c_black--light;
    text-transform: uppercase;

    margin: auto;
  }

  &__name {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: $c_black--light;

    margin-bottom: 20px;
  }

  &__price {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: $c_black--light;

    margin: 0 0 25px 0;
  }
}
