<div class="mobile-menu mobile-menu_js">
    <div class="mobile-menu__wrapper">
        <ul class="mobile-menu__main">
            <li class="mobile-menu__logo">
                <a class="mobile-menu__logo--link" href="/index.html">
                    <img class="mobile-menu__logo--img" src="/static/images/logo.svg" alt="logo">
                </a>
            </li>
            <li class="mobile-menu__close">
                <button class="mobile-menu__close--button js-button-close-menu">
                    <svg class="mobile-menu__close--img" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.707105 0L0 0.707105L7.07111 7.77821L4.6869e-05 14.8493L0.707151 15.5564L7.77821 8.48532L14.8492 15.5563L15.5563 14.8492L8.48532 7.77821L15.5563 0.707178L14.8492 7.33696e-05L7.77821 7.07111L0.707105 0Z" fill="#1E0606" />
                    </svg>
                </button>
            </li>
            <li class="mobile-menu__search">
                <button class="mobile-menu__search--button"><img class="mobile-menu__search--img" src="/static/images/search.png" alt="search"></button>
            </li>
        </ul>
        <ul class="mobile-menu__list">
            <li class="mobile-menu__list-item"><a class="mobile-menu__list-link" href="/pages/blog/index.html">blog</a></li>
            <li class="mobile-menu__list-item"><a class="mobile-menu__list-link" href="/pages/catalog/index.html">catalog</a></li>
            <li class="mobile-menu__list-item"><a class="mobile-menu__list-link" href="#">about us</a></li>
            <li class="mobile-menu__list-item"><a class="mobile-menu__list-link" href="/pages/animation/index.html">animation</a>
            <li class="mobile-menu__list-item"><a class="mobile-menu__list-link" href="/pages/svg/index.html">svg</a>
            <li class="mobile-menu__list-item"><a class="mobile-menu__list-link" href="/pages/grid/index.html">grid</a></li>
            <li class="mobile-menu__list-item mobile-menu__list-item--BOLD"><a class="mobile-menu__list-link" href="/pages/contact-us/index.html">contact us</a></li>
        </ul>
    </div>
</div>