@import "../vars";
@import "../colors";

.category-products {
  // margin-bottom: 26px;

  &__list {
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    padding: 0;

    margin: 0;
  }
  &__list-item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;
    margin-bottom: 20px;

    cursor: pointer;

    @include media_interval($media_laptop, $media_4k) {
      &:nth-child(6n + 4) {
        margin-left: 200px;
      }
      &:nth-child(6n + 3) {
        margin-right: 100px;
      }
    }

    @include media_interval($media_mobile, $media_tablet) {
      &:nth-child(3n + 3) {
        margin-right: 0;
      }
      margin-bottom: 16px;
    }

    @include media_interval(0, $media_mobile) {
      &:nth-child(2n + 2) {
        margin-right: 0;
      }
      margin-right: 16px;
      margin-bottom: 11px;
    }
  }
  &__item-link {
    position: relative;

    max-width: 280px;

    @include media_interval($media_mobile, $media_tablet) {
      max-width: 203px;
    }

    @include media_interval(0, $media_mobile) {
      max-width: 160px;
    }
  }

  &__card-title {
    color: $c_white;

    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include media_interval($media_mobile, $media_tablet) {
      font-size: 24px;
      line-height: 29px;
    }

    @include media_interval(0, $media_mobile) {
      font-size: 18px;
      line-height: 22px;
    }

    &:hover {
      text-decoration: underline;

      transition: $tr_duration $tr_easing;
    }

    &:active {
      text-decoration: underline;
    }
  }
}

.category-item-bottom {
  margin-bottom: 0;
}
