@import "../vars";
@import "../colors";

.category-products {
  margin-bottom: 26px;

  &__list {
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    padding: 0;

    margin: 0;
  }
  &__list-item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 270px;
    margin-right: 20px;
    margin-bottom: 23px;

    cursor: pointer;

    &:nth-child(6n + 4) {
      margin-left: 200px;
    }
  }
  &__item-link {
    position: relative;
  }

  &__card-title {
    color: $c_white;

    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      text-decoration: underline;

      transition: $tr_duration $tr_easing;
    }

    &:active {
      text-decoration: underline;
    }
  }
}

.category-item-bottom {
  margin-bottom: 0;
}
