@@include('breadcrumbs-title/index.html', {
"title": "category products",
"page": "Catalog"
})

<div class="container">
    <section class="category-products">
        <h2 class="visually-hidden">category Products</h2>
        <ul class="category-list-catalog">
            <li class="category-item">
                <a class="category-link" href="#">
                    <h3 class="card-title">apparel kids</h3>
                    <img class="category-image" src="/static/images/apparel_kids.png" alt="apparel_kids.png">
                </a>
            </li>
            <li class="category-item">
                <a class="category-link" href="#">
                    <h3 class="card-title">holiday shop</h3>
                    <img class="category-image" src="/static/images/holiday_shop.png" alt="holiday_shop.png">
                </a>
            </li>
            <li class="category-item">
                <a class="category-link" href="/pages/toys/index.html">
                    <h3 class="card-title">toys</h3>
                    <img class="category-image" src="/static/images/toys.png" alt="toys.png">
                </a>
            </li>
            <li class="category-item category-item-bottom">
                <a class="category-link" href="#">
                    <h3 class="card-title">accessories</h3>
                    <img class="category-image" src="/static/images/accessories.png" alt="accessories.png">
                </a>
            </li>
            <li class="category-item category-item-bottom">
                <a class="category-link" href="#">
                    <h3 class="card-title">sale</h3>
                    <img class="category-image" src="/static/images/sale.png" alt="accessories.png">
                </a>
            </li>
            <li class="category-item category-item-bottom">
                <a class="category-link" href="#">
                    <h3 class="card-title">apparel adults</h3>
                    <img class="category-image" src="/static/images/apparel_adults.png" alt="accessories.png">
                </a>
            </li>
        </ul>
    </section>
</div>