@@include("breadcrumbs-title/index.html", {
"title": "blog",
"page": "Blog"
})

<section class="blog-article container">
    <ul class="blog-article__list">

        @@include("blog-articles/articles-card.html",{
        "title": "Top 5 fastest growing it service companies in philly",
        "src": "/static/images/top_5_fastest_1.jpg",
        "alt": "top_5_fastest_1.jpg",
        "date": "23rd August 2018",
        "link": "#",
        "text": "!!!не вставляется текст!!!"
        })

        @@include("blog-articles/articles-card.html",{
        "title": "Best financial",
        "src": "/static/images/best_financial_1.jpg",
        "alt": "best_financial_1.jpg",
        "date": "23rd August 2018",
        "link": "#",
        "text": "!!!не вставляется текст!!!"
        })

        @@include("blog-articles/articles-card.html",{
        "title": "Company logo or brand identity: which one is more important? brand identity",
        "src": "/static/images/company_logo_1.jpg",
        "alt": "company_logo_1.jpg",
        "date": "23rd August 2018",
        "link": "#",
        "text": "!!!не вставляется текст!!!"
        })

        @@include("blog-articles/articles-card.html",{
        "title": "Best financial",
        "src": "/static/images/best_financial_2.jpg",
        "alt": "top_5_fastest_1.jpg",
        "date": "23rd August 2018",
        "link": "#",
        "text": "!!!не вставляется текст!!!"
        })

        @@include("blog-articles/articles-card.html",{
        "title": "Company logo or brand identity: which one is more important? brand identity",
        "src": "/static/images/company_logo_2.jpg",
        "alt": "company_logo_2.jpg",
        "date": "23rd August 2018",
        "link": "#",
        "text": "!!!не вставляется текст!!!"
        })

        @@include("blog-articles/articles-card.html",{
        "title": "Top 5 fastest growing it service companies in philly",
        "src": "/static/images/top_5_fastest_2.jpg",
        "alt": "top_5_fastest_2.jpg",
        "date": "23rd August 2018",
        "link": "#",
        "text": "!!!не вставляется текст!!!"
        })
    </ul>
</section>