<section class="breadcrumbs_title">
    <div class="container">
        <h1 class="title__page">@@title</h1>
        <ul class="breadcrumbs">
            <li class="breadcrumbs__list">
                <a class="breadcrumbs__list-link" href="/index.html">Home</a>
            </li>
            <li class="breadcrumbs__list">
                <a class="breadcrumbs__list-link" href="/pages/catalog/index.html">Catalog</a>
            </li>
            <li class="breadcrumbs__list">
                <span class="breadcrumbs__list-link breadcrumbs__active">@@page</span>
            </li>
        </ul>
    </div>
</section>