<section class="service">
    <div class="container">
        <h2 class="visually-hidden">service</h2>
        <div class="service__wrapper">
            <picture class="service__image-wrapper">
                <source srcset="/static/images/service.png, /static/images/service_retina.jpg 2x" media="(min-width: 1024px)">
                <source srcset="/static/images/service_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                <source srcset="/static/images/service_mobile.jpg" media="(max-width: 767px)">
                <img class="service__image" src="/static/images/service.png" alt="happy girl">
            </picture>
            <div class="service__block">
                <h3 class="service__title">delivery</h3>
                <ul class="service__list">
                    <li class="service__list-item service__item-active">
                        <a class="service__item-link service__item-link--active" href="#">Delivery</a>
                    </li>
                    <li class="service__list-item">
                        <a class="service__item-link" href="#">Guarantee</a>
                    </li>
                    <li class="service__list-item">
                        <a class="service__item-link" href="#">Credit</a>
                    </li>
                </ul>
                <p class="service__delivery-paragraph service__delivery-paragraph1">
                    Some days i feel like i've been working on dlk my entire life
                    and there are other days that i am completely shocked that four
                    years have flown by. It's simply magical.
                </p>
                <p class="service__delivery-paragraph service__delivery-paragraph2">
                    What started as an outlet to deal with the traumatic loss of my
                    husband, dlk has now become a truly happy place for me and i
                    have you and all of the beautiful designers that we work with
                    to thank!
                </p>
                <a class="service__link link" href="#">learn more</a>
            </div>
        </div>
    </div>
</section>