<section class="service-container">
    <div class="container">
        <div class="service-wrapper">
            <div class="contanier-delivery-image">
                <img class="service-image" src="/static/images/service_delivery.png" alt="delivery.png">
            </div>
            <div class="contanier-delivery-description">
                <h3 class="service-title">delivery</h3>
                <ul class="service-list">
                    <li class="service-item service-item-active">
                        <a class="service-item-link" href="#">Delivery</a>
                    </li>
                    <li class="service-item">
                        <a class="service-item-link" href="#">Guarantee</a>
                    </li>
                    <li class="service-item">
                        <a class="service-item-link" href="#">Credit</a>
                    </li>
                </ul>
                <div class="delivery-paragraph">
                    <p class="paragraph1">
                        Some days i feel like i've been working on dlk my entire life
                        and there are other days that i am completely shocked that four
                        years have flown by. It's simply magical.
                    </p>
                    <p class="paragraph2">
                        What started as an outlet to deal with the traumatic loss of my
                        husband, dlk has now become a truly happy place for me and i
                        have you and all of the beautiful designers that we work with
                        to thank!
                    </p>
                </div>
                <div class="service-link"><a class="link" href="#">learn more</a></div>
            </div>
        </div>
    </div>
</section>