<section class="pages">
    <div class="container">
        <div class="pages__wrapper">
            <a class="pages__prev">
                <svg width="18" height="30" viewBox="0 0 18 30" fill="none">
                    <path id="prev" d="M16 2L3 15L16 28" stroke="#e4e1e1" stroke-width="4" />
                </svg>
            </a>
            <div class="pages__row">
                <a class="pages__page" href="#"><span class="pages__nomber">1</span></a>
                <a class="pages__page" href="#"><span class="pages__nomber">2</span></a>
                <a class="pages__page" href="#"><span class="pages__nomber">3</span></a>
                <a class="pages__page" href="#"><span class="pages__nomber">4</span></a>
            </div>
            <a class="pages__next" href="#">
                <svg width="18" height="30" viewBox="0 0 18 30" fill="none">
                    <path id="next" d="M2 2L15 15L2 28" stroke="#e4e1e1" stroke-width="4">
                </svg>
            </a>
        </div>
    </div>
</section>