@import "../vars";
@import "../colors";

.pages {
  margin-bottom: 54px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-align: center;
  }

  &__row {
    margin-top: 5px;
  }

  &__page {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: $c_black--light;

    line-height: 20px;

    padding: 0;

    margin: 0 31px 0 30px;

    &:hover {
      color: $c_black--light;

      opacity: 0.5;

      transition: $tr_duration $tr_easing;
    }

    &:active,
    &:focus {
      color: $c_gold;

      transition: $tr_duration $tr_easing;
    }
  }

  &__prev,
  &__next {
    background-color: $c_white;

    padding: 0;

    cursor: pointer;
  }

  a svg:hover #prev,
  a svg:hover #next {
    stroke: $c_gold;

    transition: $tr_duration $tr_easing;
  }

  a svg:active #prev,
  a svg:active #next {
    stroke: $c_gold;
    opacity: 0.5;

    transition: $tr_duration $tr_easing;
  }
}
