@import "../vars";
@import "../colors";

.pages {
  position: relative;

  text-align: center;

  padding-bottom: 3px;

  margin-bottom: 60px;

  &__page {
    line-height: 20px;
    padding: 0;
    margin: 0 26px 0 36px;
    font-size: 20px;
  }

  &__prev,
  &__next {
    cursor: pointer;

    height: 17px;
    width: 10px;

    top: 4px;

    &:before {
      background-color: $c_black--light-2;
      content: "";
      height: 20px;
      left: 4px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg);
      width: 20px;
    }

    &:after {
      background-color: $c_white;
      content: "";
      height: 20px;
      left: 9px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg);
      width: 20px;
    }

    &:hover::before {
      background-color: $c_gold;

      transition: $tr_duration $tr_easing;
    }

    &:active::before {
      background-color: $c_gold;

      opacity: 0.5;

      transition: $tr_duration $tr_easing;
    }
  }

  &__next {
    float: right;

    &:before {
      left: auto;
      right: 4px;
    }

    &:after {
      left: auto;
      right: 8px;
    }
  }

  &__nomber {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: $c_black--light;

    &:hover {
      color: $c_black--light;

      opacity: 0.5;

      transition: $tr_duration $tr_easing;
    }

    &:active,
    &:focus {
      color: $c_gold;

      transition: $tr_duration $tr_easing;
    }
  }
}
