<div class="modal-bg modal_js">
    <form class="modal-bg__form" action="/index.html">
        <label class="modal-bg__form-lable">
            <input class="modal-bg__form-input input-text_js" type="text" name="name" placeholder="Ivan Ivanov">
            <span class="modal-bg__form-text">Name</span>
        </label>
        <div class="modal-bg__form-feedback">
            <label class="modal-bg__form-phone-input modal-bg__form-lable">
                <input class="modal-bg__form-input" type="tel" name="phone">
                <span class="modal-bg__form-text">Phone</span>
            </label>
            <label class="modal-bg__form-email-input modal-bg__form-lable">
                <input class="modal-bg__form-input" type="email" name="email">
                <span class="modal-bg__form-text">Email</span>
            </label>
        </div>
        <label class="modal-bg__form-lable">
            <textarea class="modal-bg__form-message" name="message" cols="30" rows="10"></textarea>
            <span class="modal-bg__form-text">Message</span>
        </label>
        <label class="modal-bg__form-subscribe">
            <input class="modal-bg__form-subscribe-checkbox" type="checkbox" name="subscribe" value="personal data">
            <span class="modal-bg__form-subscribe-fake"></span>
            <span class="modal-bg__form-subscribe-text">By clicking on the button, you consent to the processing of
                your personal data</span>
        </label>
        <button class="modal-bg__form-button button" type="submit">submit</button>
        <button class="modal-bg__form-close button-close_js" type="button" aria-label="exit"></button>
    </form>
</div>