<div class="modal-bg modal_js">
    <form class="form-wrapper" action="/index.html">
        <label class="form-lable">
            <input class="input-text input-name input-text_js" type="text" name="name">
            <span class="input-lable-text">Name</span>
        </label>
        <div class="form-phone-email">
            <div class="form-cell-50 input-phone">
                <label class="form-lable">
                    <input class="input-text" type="tel" name="phone">
                    <span class="input-lable-text">Phone</span>
                </label>
            </div>
            <div class="form-cell-50 input-email">
                <label class="form-lable">
                    <input class="input-text" type="email" name="email">
                    <span class="input-lable-text">Email</span>
                </label>
            </div>
        </div>
        <label class="form-lable">
            <textarea class="form-message" name="message" cols="30" rows="10"></textarea>
            <span class="input-lable-text">Message</span>
        </label>
        <label class="form-subscribe">
            <input class="subscribe-checkbox" type="checkbox" name="subscribe" value="personal data">
            <span class="subscribe-fake"></span>
            <span class="subscribe-text">By clicking on the button, you consent to the processing of your personal
                data</span>
        </label>
        <button class="form-button button" type="submit">submit</button>
        <button class="button-close button-close_js" type="button" aria-label="exit"></button>
    </form>
</div>