<section class="description">
    <div class="container">
        <div class="description__wrapper">
            <h2 class="description__title title-block">Product Description</h2>
            <p class="description__text">
                Interactive doll Zapf Creation Baby Born Sister can drink from a
                bottle and almost really cry. You can even bathe her, just like a
                little sister.
            </p>
            <p class="description__text">
                A toy with a height of 43 cm bends its knees, the head rotates, it can
                stand upright. Such a doll will be an excellent choice for a gift for
                a girl from 4 years old.
            </p>
            <p class="description__text">
                The set includes a miniature set of fashionable clothes, a hairbrush,
                a bottle for water, a pair of hairpins and elastic bands for hair, as
                well as two bracelets: one for the doll, the other for her young
                mistress.
            </p>
        </div>
    </div>
</section>