@import "../vars";
@import "../colors";

.header {
  padding: 63px 0 37px 0;

  @include media_interval($media_mobile, $media_laptop) {
    padding: 33px 0;
  }

  @include media_interval(0, $media_mobile) {
    padding: 25px 15px 21px 10px;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @include media_interval($media_mobile, $media_laptop) {
      justify-content: space-between;
    }

    @include media_interval(0, $media_mobile) {
      justify-content: space-between;
    }
  }

  &__logo {
    display: block;

    margin: 0;

    transition: opacity $tr_duration $tr_easing;

    @include media_interval($media_mobile, $media_tablet) {
    }

    @include media_interval(0, $media_mobile) {
    }

    &-img {
      @include media_interval($media_mobile, $media_tablet) {
        width: 62px;
        height: 32px;
      }

      @include media_interval(0, $media_mobile) {
        width: 42px;
        height: 22px;
      }
    }

    &:hover {
      opacity: 50%;
    }

    &:active {
      opacity: 25%;
    }
  }

  // navigation

  &__nav {
    font-family: "Open Sans", sans-serif;
  }

  &__nav-list {
    text-transform: uppercase;

    display: flex;

    margin-left: 60px;

    padding: 0;

    @include media_interval($media_mobile, $media_tablet) {
      display: none;
    }

    @include media_interval(0, $media_mobile) {
      display: none;
    }
  }

  &__nav-item {
    margin-right: 21px;
    margin-bottom: 6px;

    transition: $tr_duration $tr_easing;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }

  &__nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: $c_black;
  }

  &__nav-info {
    display: flex;
    align-items: center;

    margin-left: auto;

    text-transform: uppercase;

    @include media_interval($media_mobile, $media_tablet) {
      margin: 0;
    }

    @include media_interval(0, $media_mobile) {
      margin: 0;
    }

    &--CONTACTS {
      margin: 0 0 6px 15px;

      @include media_interval($media_mobile, $media_tablet) {
        display: none;
      }

      @include media_interval(0, $media_mobile) {
        display: none;
      }

      transition: $tr_duration $tr_easing;

      &:hover {
        opacity: 0.5;
      }

      &:active {
        opacity: 0.2;
      }
    }

    &--LINK {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      color: $c_black;
      letter-spacing: 0.5px;
    }

    &--SEARCH {
      margin: 0;

      transition: $tr_duration $tr_easing;

      &:hover {
        opacity: 0.5;
      }

      &:active {
        opacity: 0.2;
      }
    }
  }

  &__search {
    border: none;
    background-color: $c_white;

    cursor: pointer;

    padding: 0;

    outline: none;

    @include media_interval($media_mobile, $media_tablet) {
      padding: 0;
    }

    &-img {
      @include media_interval(0, $media_mobile) {
        width: 13px;
        height: 13px;
      }
    }
  }

  .open-menu {
    display: none;
    margin-right: 166px;
    padding: 0;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: $c_black;

    background: transparent;
    border: none;

    outline: none;
    cursor: pointer;

    transition: opacity $tr_duration $tr_easing;

    &:hover {
      opacity: 0.5;
    }

    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }

    @include media_interval(0, $media_tablet) {
      display: block;
    }

    @include media_interval($media_mobile-extra-small, $media_mobile-medium) {
      margin: 0 73px 5px 0;
      line-height: 15px;
    }

    @include media_interval(0, $media_mobile-extra-small) {
      margin-right: 46px;
      line-height: 15px;
    }

    &_disable {
      display: none;
    }
  }

  .close-menu {
    position: relative;

    display: none;
    width: 15px;
    height: 15px;
    margin: -5px 30px 0 0;
    padding: 0;

    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    transition: $tr_duration $tr_easing;

    &:before {
      position: absolute;
      top: 0;
      transform: rotate(45deg);

      height: 21px;
      width: 1px;

      background-color: $c_black;
      border-radius: 25%;

      content: "";
    }

    &:after {
      position: absolute;
      top: 0;
      transform: rotate(-45deg);

      height: 21px;
      width: 1px;

      background-color: $c_black;
      border-radius: 25%;

      content: "";
    }

    &:hover {
      opacity: 0.5;
    }

    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }

    &_active {
      display: block;
    }
  }
}
