@import "../vars";
@import "../colors";

.header {
  margin-top: 50px;
  margin-bottom: 37px;

  &__wrapper {
    display: flex;

    align-items: center;
  }

  &__link {
    display: block;

    margin-right: 60px;

    &:hover {
      opacity: 50%;
      transition: $tr_duration $tr_easing;
    }

    &:active {
      opacity: 25%;
    }
  }

  // navigation

  &__nav {
    font-family: "Open Sans", sans-serif;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
  }

  &__nav-list {
    list-style-type: none;
    text-transform: uppercase;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;

    margin: 0px 0px 2px 0;
  }

  &__nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    margin-right: 20px;

    &--SEARCH {
      margin: 0;
    }

    &:hover {
      opacity: 50%;
      transition: $tr_duration $tr_easing;
    }

    &:active {
      opacity: 25%;
    }
  }

  &__nav-link {
    color: $c_black;
  }

  &__contactus {
    margin-right: 0;
    margin-left: 23.45px;
  }

  &__text-contactus {
    font-weight: 700;
    letter-spacing: 0.5px;
  }
}
