<header class="header container">
  <a class="header__link" href="/index.html">
    <img class="header__logo" src="/static/images/logo.svg" alt="logo">
  </a>
  <nav class="header__nav">
    <ul class="header__nav-list header__list-left">
      <li class="header__nav-item"><a class="header__nav-link" href="/pages/blog/index.html">blog</a></li>
      <li class="header__nav-item"><a class="header__nav-link" href="/pages/catalog/index.html">catalog</a></li>
      <li class="header__nav-item"><a class="header__nav-link" href="#">about us</a></li>
    </ul>
    <ul class="header__nav-list header__list-right">
      <li class="header__nav-item header__nav-search header__nav-link"> <a href="#"></a><img
          src="/static/images/search.png" alt="search"></li>
      <li class="header__nav-item header__contactus"><a class="header__nav-link"
          href="/pages/contact-us/index.html"><span class="header__text-contactus">contact us</span>
        </a>
      </li>
    </ul>
  </nav>
</header>