<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__link" href="/index.html">
        <img class="header__logo" src="/static/images/logo.svg" alt="logo">
      </a>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item"><a class="header__nav-link" href="/pages/blog/index.html">blog</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="/pages/catalog/index.html">catalog</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="#">about us</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="/pages/animation/index.html">animation</a>
          <li class="header__nav-item"><a class="header__nav-link" href="/pages/svg/index.html">svg</a>
          <li class="header__nav-item"><a class="header__nav-link" href="/pages/grid/index.html">grid</a>
          </li>
        </ul>
        <ul class="header__nav-list">
          <li class="header__nav-item--SEARCH">
            <a class="header__search" href="#"><img src="/static/images/search.png" alt="search"></a>
          </li>
          <li class="header__nav-item header__contactus"><a class="header__nav-link" href="/pages/contact-us/index.html"><span class="header__text-contactus">contact us</span>
            </a>
          </li>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>