<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a class="header-logo-link" href="/index.html"><img class="header-logo" src="/static/images/logo.svg"
          alt="logo"></a>
      <nav class="header-nav">
        <ul class="header-list header-list-left">
          <li class="header-list-item"><a class="header-list-item-link" href="/pages/blog/index.html">blog</a></li>
          <li class="header-list-item"><a class="header-list-item-link" href="/pages/catalog/index.html">catalog</a>
          </li>
          <li class="header-list-item"><a class="header-list-item-link" href="#">about us</a></li>
        </ul>
        <ul class="header-list header-list-right">
          <li class="header-list-item header-search header-list-item-link"> <a href="#"></a><img
              src="/static/images/search.png" alt="search"></li>
          <li class="header-list-item header-contactus"><a class="header-list-item-link"
              href="/pages/contact-us/index.html"><span class="header-text-contactus">contact us</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>