// black

$c_black: #000000;
$c_black--light: #1e0606;
$c_black--light-2: rgba(30, 6, 6, 0.12);
$c_black--opacity-0-2: rgba(0, 0, 0, 0.2);
$c_black--opacity-0-3: rgba(0, 0, 0, 0.3);

// white

$c_white: #ffffff;
$c_white--2: #fffdfd;

// gray

$c_gray: #aaaaaa;
$c_gray-2: #818181;
$c_gray--light: #a2a2a2;
$c_gray--light-2: #c1c1c1;
$c_gray--dark: #666666;
$c_gray--dark-extra: #434343;

// gold

$c_gold: #c29974;
$c_gold--light: #cfaf91;
$c_gold--light-extra: #eee4db;
$c_gold--light-extra-2: #d6cac2;
$c_gold--dark: #836e5b;

// blue

$c_blue: #7d97da;
$c_blue--light-extra: #e2f1f8;
$c_blue--light: #e1f0f7;
$c_blue--purple: #e5eaf8;

// brown

$c_brown: #725f5b;

// pink

$c_pink: #f3d0db;
$c_pink--light: #eddeeb;

// purple
$c_purple: rgba(125, 151, 218, 0.8);
