@import "./vars";
@import "./colors";
@import "./mixins";

.container {
  min-height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 110px;

  @include media_interval($media_tablet, $media_laptop) {
    padding: 0 60px;
  }

  @include media_interval($media_mobile-medium, $media_tablet) {
    padding: 0 60px;
  }

  @include media_interval(0, $media_mobile-medium) {
    padding: 0 20px;
  }
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h3 {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

.title-block {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 46px;

  @include media_interval($media_mobile, $media_tablet) {
    font-size: 36px;
    line-height: 44px;
  }

  @include media_interval(0, $media_mobile) {
    font-size: 24px;
    line-height: 29px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title__page {
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 44px;

  margin-top: 22px;
  margin-bottom: 18px;

  @include media_interval($media_mobile, $media_tablet) {
    font-size: 36px;
    line-height: 44px;

    margin-top: 33px;
    margin-bottom: 11px;
  }

  @include media_interval(0, $media_mobile) {
    font-size: 24px;
    line-height: 29px;

    margin-bottom: 11px;
  }
}

/* breadcrumbs */

.breadcrumbs {
  list-style: none;

  margin-bottom: 50px;

  padding: 0;

  display: flex;

  @include media_interval($media_mobile, $media_tablet) {
    margin-bottom: 30px;
  }

  @include media_interval(0, $media_mobile) {
    margin-bottom: 20px;
  }

  &__list {
    font-family: "Crimson Text", serif;
    font-size: 20px;
    line-height: 25px;

    display: inline-block;

    margin-right: 19px;

    @include media_interval(0, $media_mobile) {
      font-size: 16px;
      line-height: 20px;
    }

    &:not(:last-child):after {
      content: url(/static/images/breadcrumb.svg);
      margin-left: 17px;
      font-style: normal;
    }
  }
  &__list-link {
    color: $c_black--light;

    text-decoration: none;
  }

  &__active {
    color: $c_black--light;

    opacity: 0.5;

    text-decoration: none;

    font-style: italic;
  }
}

// link, button

.link,
.button {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: $c_white;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  background-color: $c_black;

  border: none;

  text-align: center;

  padding: 9px 22px;

  cursor: pointer;

  &:hover {
    background-color: $c_gold;

    transition: $tr_duration $tr_easing;

    outline: none;
  }

  &:focus {
    outline: none;

    transition: $tr_duration $tr_easing;
  }
  &:active {
    background-color: $c_gold--light;

    outline: none;
  }

  @include media_interval(0, $media_mobile) {
    padding: 8px 20px;

    font-size: 14px;
    line-height: 19px;
  }
}
