@@include('breadcrumbs-title/index.html', {
"title": "animation scene",
"page": "Animation"
})

<section class="animation">
    <h2 class="visually-hidden">animation</h2>
    <img class="clouds_and_sun" src="/static/images/animation/clouds_and_sun.svg" alt="">
    <img class="city" src="/static/images/animation/city.svg" alt="">
    <img class="car_one" src="/static/images/animation/car_one.svg" alt="">
    <img class="car_two" src="/static/images/animation/car_two.svg" alt="">
    <img class="car_three" src="/static/images/animation/car_three.svg" alt="">
    <img class="car_four" src="/static/images/animation/car_four.svg" alt="">
    <img class="lantern" src="/static/images/animation/lantern.svg" alt="">
    <img class="lantern-2" src="/static/images/animation/lantern-2.svg" alt="">
    <img class="lantern-3" src="/static/images/animation/lantern-3.svg" alt="">
    <img class="baggage" src="/static/images/animation/baggage.svg" alt="">
    <img class="woman" src="/static/images/animation/woman.svg" alt="">
    <img class="man" src="/static/images/animation/man.svg" alt="">
    <img class="arm_man" src="/static/images/animation/arm_man.svg" alt="">
    <img class="taxi" src="/static/images/animation/taxi.svg" alt="">
    <img class="cloud_woman" src="/static/images/animation/cloud_woman.svg" alt="">
    <img class="cloud_man-1" src="/static/images/animation/cloud_man-1.svg" alt="">
    <img class="cloud_man-2" src="/static/images/animation/cloud_man-2.svg" alt="">
    <img class="cloud_taxi" src="/static/images/animation/cloud_taxi.svg" alt="">
</section>
<audio controls>
    <source src="/static/audio/Iyhabe_Yunous--Mosika_Helwa.mp3" type="audio">
    Iyhabe Yunous Mosika Helwa
</audio>