<section class="partners container">
    <ul class="partners__list">
        <li class="partners__list-item">
            <a href="#"><img class="partners__img" src="/static/images/mail.ru.png" alt="mail.ru.png"></a>
        </li>
        <li class="partners-list-item">
            <a href="#"><img class="partners__img" src="/static/images/apple.png" alt="apple.png"></a>
        </li>
        <li class="partners-list-item">
            <a href="#"><img class="partners__img" src="/static/images/eltex.png" alt="eltex.png"></a>
        </li>
        <li class="partners-list-item">
            <a href="#"><img class="partners__img" src="/static/images/owox.png" alt="owox.png"></a>
        </li>
    </ul>
</section>