<section class="partners">
    <div class="container">
        <h2 class="visually-hidden">partners</h2>
        <ul class="partners__list">
            <li class="partners__list-item">
                <a class="partners__list-link" href="#">
                    <picture class="partners__picture">
                        <source srcset="/static/images/partners-1.png, /static/images/partners-1_retina.png 2x" media="(min-width: 1024px)">
                        <source srcset="/static/images/partners-1_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                        <source srcset="/static/images/partners-1_mobile.png" media="(max-width: 767px)">
                        <img class="partners__img" src="/static/images/partners-1.png" alt="mail.ru">
                    </picture>
                </a>
            </li>
            <li class="partners__list-item">
                <a class="partners__list-link" href="#">
                    <picture class="partners__picture">
                        <source srcset="/static/images/partners-2.png, /static/images/partners-2_retina.png 2x" media="(min-width: 1024px)">
                        <source srcset="/static/images/partners-2_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                        <source srcset="/static/images/partners-2_mobile.png" media="(max-width: 767px)">
                        <img class="partners__img" src="/static/images/partners-2.png" alt="apple.com">
                    </picture>
                </a>
            </li>
            <li class="partners__list-item">
                <a class="partners__list-link" href="#">
                    <picture class="partners__picture">
                        <source srcset="/static/images/partners-3.png, /static/images/partners-3_retina.png 2x" media="(min-width: 1024px)">
                        <source srcset="/static/images/partners-3_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                        <source srcset="/static/images/partners-3_mobile.png" media="(max-width: 767px)">
                        <img class="partners__img" src="/static/images/partners-3.png" alt="altex.com">
                    </picture>
                </a>
            </li>
            <li class="partners__list-item">
                <a class="partners__list-link" href="#">
                    <picture class="partners__picture">
                        <source srcset="/static/images/partners-4.png, /static/images/partners-4_retina.png 2x" media="(min-width: 1024px)">
                        <source srcset="/static/images/partners-4_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
                        <source srcset="/static/images/partners-4_mobile.png" media="(max-width: 767px)">
                        <img class="partners__img" src="/static/images/partners-4.png" alt="owox.com">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>