<footer class="footer">
  <div class="container">
    <section class="footer-contanier">
      <div class="footer-nav">
        <h4 class="footer-nav-title footer-title">navigation</h4>
        <hr class="nav-line-short">
        <ul class="footer-nav-list">
          <li class="nav-list-item"><a class="nav-link" href=#>about us</a></li>
          <li class="nav-list-item"><a class="nav-link" href=#>blog</a></li>
          <li class="nav-list-item"><a class="nav-link" href=#>design services</a></li>
          <li class="nav-list-item"><a class="nav-link" href=#>featured on</a></li>
          <li class="nav-list-item"><a class="nav-link" href=#>2018 holiday catalog</a></li>
          <li class="nav-list-item"><a class="nav-link" href=#>shop by designer</a></li>
        </ul>
      </div>
      <div class="footer-customer">
        <h4 class="footer-customer-title footer-title">customer information</h4>
        <hr class="nav-line-short">
        <ul class="footer-customer-list">
          <li class="nav-list-item"><a class="nav-link" href=#>contact us</a></li>
          <li class="nav-list-item"><a class="nav-link" href=#>sale exclusions</a></li>
          <li class="nav-list-item"><a class="nav-link" href=#>shipping & returns</a></li>
          <li class="nav-list-item"><a class="nav-link" href=#>terms & conditions</a></li>
          <li class="nav-list-item"><a class="nav-link" href=#>privacy policy</a></li>
          <li class="nav-list-item"><a class="nav-link" href=#>search</a></li>
        </ul>
      </div>
      <div class="footer-connect">
        <h4 class="footer-connect-title footer-title">connect</h4>
        <hr class="nav-line-short">
        <div class="footer-connect-email">
          <form action="index.html" class="footer-connect-form">
            <input class="connect-email" placeholder="Email" type="email" name="email">
            <button class="button">join</button>
          </form>
        </div>
        <ul class="connect-networks">
          <li class="networks-circle">
            <a class="social-link social-facebook" href="#"></a>
          </li>
          <li class="networks-circle">
            <a class="social-link social-twitter" href="#"></a>
          </li>
          <li class="networks-circle">
            <a class="social-link social-pinterest" href="#"></a>
          </li>
          <li class="networks-circle">
            <a class="social-link social-instagram" href="#"></a>
          </li>
        </ul>
      </div>
      <hr class="nav-line-long">
      <div class="footer-info">
        <div class="info-list">
          <div class="info-list-company">
            <span class="company_rating">company rating</span>
            <div class="stars-wrapper">
              <div class="rating-area">
                <input type="radio" id="star-5" name="star" value="5">
                <label for="star-5" title="«5»"></label>
                <input type="radio" id="star-4" name="star" value="4">
                <label for="star-4" title="«4»"></label>
                <input type="radio" id="star-3" name="star" value="3">
                <label for="star-3" title="«3»"></label>
                <input type="radio" id="star-2" name="star" value="2">
                <label for="star-2" title="«2»"></label>
                <input type="radio" id="star-1" name="star" value="1">
                <label for="star-1" title="«1»"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="info-list-copyright">
          copyright © 2018 dlk • design life kids
        </div>
        <div class="info-list-webdesign">
          web design — direct line development
        </div>
      </div>
    </section>
  </div>
</footer>