<footer class="footer">
  <div class="container">
    <h2 class="visually-hidden">footer</h2>
    <section class="footer__wrapper">
      <div class="footer__main">
        <div class="footer__navigation">
          <h4 class="footer__title footer__navigation-title">navigation</h4>
          <hr class="footer__line-short">
          <ul class="footer__navigation-list">
            <li class="footer__navigation-item"><a class="footer__navigation-link" href=#>about us</a></li>
            <li class="footer__navigation-item"><a class="footer__navigation-link" href="/pages/blog/index.html">blog</a></li>
            <li class="footer__navigation-item"><a class="footer__navigation-link" href=#>design services</a></li>
            <li class="footer__navigation-item"><a class="footer__navigation-link" href=#>featured on</a></li>
            <li class="footer__navigation-item"><a class="footer__navigation-link" href=#>2018 holiday catalog</a></li>
            <li class="footer__navigation-item"><a class="footer__navigation-link" href=#>shop by designer</a></li>
          </ul>
        </div>
        <div class="footer__customer">
          <h4 class="footer__title footer__customer-title">customer information</h4>
          <hr class="footer__line-short">
          <ul class="footer__customer-list">
            <li class="footer__navigation-item"><a class="footer__navigation-link" href="/pages/contact-us/index.html">contact us</a></li>
            <li class="footer__navigation-item"><a class="footer__navigation-link" href=#>sale exclusions</a></li>
            <li class="footer__navigation-item"><a class="footer__navigation-link" href=#>shipping & returns</a></li>
            <li class="footer__navigation-item"><a class="footer__navigation-link" href=#>terms & conditions</a></li>
            <li class="footer__navigation-item"><a class="footer__navigation-link" href=#>privacy policy</a></li>
            <li class="footer__navigation-item"><a class="footer__navigation-link" href=#>search</a></li>
          </ul>
        </div>
        <div class="footer__connect">
          <h4 class="footer__title footer__connect-title">connect</h4>
          <hr class="footer__line-short">
          <div class="footer__connect-email">
            <form action="index.html" class="footer__connect-form">
              <input class="footer__input-email" placeholder="Email" type="email" name="email">
              <button class="button">join</button>
            </form>
          </div>
          <ul class="footer__connect-networks">
            <li class="footer__networks-circle">
              <a class="footer__social-link " href="facebook.com">
                <img class="footer__social-img" src="/static/images/soc_facebook.svg" alt="facebook">
              </a>
            </li>
            <li class="footer__networks-circle">
              <a class="footer__social-link" href="twitter.com">
                <img class="footer__social-img" src="/static/images/soc_twitter.svg" alt="twitter">
              </a>
            </li>
            <li class="footer__networks-circle">
              <a class="footer__social-link" href="pinterest.com">
                <img class="footer__social-img" src="/static/images/soc_pinterest.svg" alt="pinterest">
              </a>
            </li>
            <li class="footer__networks-circle">
              <a class="footer__social-link" href="instagram.com">
                <img class="footer__social-img" src="/static/images/soc_instagram.svg" alt="instagram">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <hr class="footer__line-long">
      <div class="footer__row-bottom">
        <div class="footer__row-rating">
          <span class="footer__company_rating">company rating</span>
          <div class="footer__stars-list">
            <input type="radio" id="star-5" name="star" value="5">
            <label for="star-5" title="«5»"></label>
            <input type="radio" id="star-4" name="star" value="4">
            <label for="star-4" title="«4»"></label>
            <input type="radio" id="star-3" name="star" value="3">
            <label for="star-3" title="«3»"></label>
            <input type="radio" id="star-2" name="star" value="2">
            <label for="star-2" title="«2»"></label>
            <input type="radio" id="star-1" name="star" value="1">
            <label for="star-1" title="«1»"></label>
          </div>
        </div>
        <div class="footer__row-copyright">
          <span class="footer__row-copyright--wrapper">
            copyright © 2018 dlk • design life kids
          </span>
        </div>
        <div class="footer__row-webdesign">
          <a class="footer__row-webdesign--wrapper">
            <span>web design — direct line development</span>
          </a>
        </div>
      </div>
    </section>
  </div>
</footer>