@import "../vars";
@import "../colors";

.category {
  margin: 90px 0;

  @include media_interval($media_mobile, $media_tablet) {
    margin: 60px 0;
  }

  @include media_interval(0, $media_mobile) {
    margin: 82px 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 31px;

    @include media_interval($media_mobile, $media_tablet) {
      font-size: 36px;
      line-height: 44px;

      margin-bottom: 25px;
    }

    @include media_interval(0, $media_mobile) {
      font-size: 24px;
      line-height: 29px;

      margin-bottom: 20px;
    }
  }

  &__wrapper-list {
    margin: 0 -40px 29px 0;

    overflow-x: scroll;

    @include media_interval($media_mobile, $media_laptop) {
      margin: 0 -60px 20px 0;
    }

    @include media_interval(0, $media_mobile) {
      margin: 0 -20px 17px 0;
    }
  }

  &__list {
    display: flex;

    list-style-type: none;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    padding: 0;

    margin: 0;
  }

  &__list-item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;

    cursor: pointer;

    &:nth-child(4n + 4) {
      margin-right: 0;
    }

    @include media_interval(0, $media_mobile) {
      margin-right: 16px;
    }
  }

  &__item-link {
    position: relative;

    width: 280px;
    height: 270px;

    @include media_interval($media_mobile, $media_tablet) {
      width: 259px;
      height: 254px;
    }

    @include media_interval(0, $media_mobile) {
      width: 247px;
      height: 241px;
    }
  }

  &__card-title {
    color: $c_white;

    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-49%, -49%);

    &:hover {
      text-decoration: underline;

      transition: $tr_duration $tr_easing;
    }

    &:active {
      text-decoration: underline;
    }
  }

  &__image {
    display: block;

    width: 100%;
  }

  &__button-text {
    display: flex;
  }

  &__button-wrapper {
    display: flex;
    padding-top: 2px;

    border: none;

    padding: 0;

    margin-top: 4px;
  }

  &__nav {
    width: 37px;
    height: 37px;

    border: none;

    cursor: pointer;

    margin-right: 6px;

    @include media_interval($media_mobile, $media_tablet) {
      width: 36px;
      height: 36px;

      margin-right: 5px;
    }

    @include media_interval(0, $media_mobile) {
      width: 33px;
      height: 33px;
    }
  }

  &__button-prev {
    background-image: url(/static/images/prev.svg);

    @include media_interval(0, $media_mobile) {
      background-image: url(/static/images/prev_mobile.svg);
    }
  }

  &__button-next {
    background-image: url(/static/images/next.svg);

    @include media_interval(0, $media_mobile) {
      background-image: url(/static/images/next_mobile.svg);
    }
  }

  &__card-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    margin: 0 0 0 15px;

    max-width: 540px;

    @include media_interval($media_mobile, $media_tablet) {
      font-size: 14px;
      line-height: 19px;

      margin: 3px 0 0 15px;

      max-width: 550px;
    }

    @include media_interval(0, $media_mobile) {
      font-size: 14px;
      line-height: 19px;

      margin: 2px 0 0 10px;

      max-width: 240px;
    }
  }
}
