<li class="category__list-item">
    <a class="category__item-link" href="@@link">
        <h3 class="category__card-title">@@title</h3>
        <picture class="category__image-wrapper">
            <source srcset="/static/images/category-@@src.png, /static/images/category-@@src_retina.png 2x" media="(min-width: 1024px)">
            <source srcset="/static/images/category-@@src_tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
            <source srcset="/static/images/category-@@src_mobile.png" media="(max-width: 767px)">
            <img class="category__image" srcset="/static/images/category-@@src.png" alt="@@alt">
        </picture>
    </a>
</li>