<section class="category">
    <div class="container">
        <div class="category__wrapper">
            <h2 class="category__title title-block">category products</h2>
            <div class="category__wrapper-list">
                <ul class="category__list">
                    @@include("category-main/category-product.html",{
                    "title": "apparel kids",
                    "src": "1",
                    "alt": "apparel kids",
                    "link": "#"
                    })
                    @@include("category-main/category-product.html",{
                    "title": "holiday shop",
                    "src": "2",
                    "alt": "holiday_shop",
                    "link": "#"
                    })
                    @@include("category-main/category-product.html",{
                    "title": "toys",
                    "src": "3",
                    "alt": "toys",
                    "link": "/pages/toys/index.html"
                    })
                    @@include("category-main/category-product.html",{
                    "title": "accessories",
                    "src": "4",
                    "alt": "accessories",
                    "link": "#"
                    })
                </ul>
            </div>
            <div class="category__button-text">
                <div class="category__button-wrapper">
                    <button class="category__nav category__button-prev"></button>
                    <button class="category__nav category__button-next"></button>
                </div>
                <p class="category__card-text">
                    Modern finds for the modern home. Curated goods by unique designers
                    around the world from fashion to furniture for kids and adults.
                </p>
            </div>
        </div>

    </div>
</section>