<section class="category container">
    <h2 class="category__title">category products</h2>
    <ul class="category__list">
        @@include("category-main/category-product.html",{
        "title": "apparel kids",
        "src": "/static/images/apparel_kids.png",
        "alt": "apparel_kids",
        "link": "#"
        })
        @@include("category-main/category-product.html",{
        "title": "holiday shop",
        "src": "/static/images/holiday_shop.png",
        "alt": "holiday_shop",
        "link": "#"
        })
        @@include("category-main/category-product.html",{
        "title": "toys",
        "src": "/static/images/toys.png",
        "alt": "toys",
        "link": "/pages/toys/index.html"
        })
        @@include("category-main/category-product.html",{
        "title": "accessories",
        "src": "/static/images/accessories.png",
        "alt": "accessories",
        "link": "#"
        })
    </ul>
    <div class="category__button-text">
        <div class="category__button-wrapper">
            <button class="category__button"><img class="category__botton-img" src="/static/images/prev.svg"
                    alt="previous"></button>
            <button class="category__button"><img class="category__botton-img" src="/static/images/next.svg"
                    alt="previous"></button>
        </div>
        <p class="category__card-text">
            Modern finds for the modern home. Curated goods by unique designers
            around the world from fashion to furniture for kids and adults.
        </p>
    </div>
</section>